<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/styles.css">
    <script src="./static/mywebscript.js"></script>
</head>

<body>
    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 px-0 d-none d-sm-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp"
                        alt="Login image" class="img-fluid" style="max-width: 90%; height: auto; object-fit: cover; object-position: right;">
                </div>                
                <div class="col-sm-6 text-black">
                    <div class="px-5 ms-xl-4">
                        <!-- <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i> -->
                        <h2 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sentiment Analysis</h2>
                    </div><br><br>
                    <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                        <div style="width: 50rem;">
                            <p class="center-heading">NLP - Emotion Detection</p>
                            <div style="padding: 25px 25px 25px 25px;">
                                <p class="mb-3">
                                    <label class="form-label">Please enter the text to be analyzed</label>
                                    <input type="textarea" class="form-control" id="textToAnalyze">
                                </p>
                                <div style="padding: 25px 25px 25px 25px;">
                                    <button onclick="RunSentimentAnalysis()" class="btn btn-secondary" style="width: 100%;">
                                        Run Sentiment Analysis</button>
                                </div>
                                <div style="padding: 25px 25px 25px 25px;"></div>
                                <p class="mb-3">
                                    <label class="form-label">Result of Emotion Detection</label>
                                </p>
                                <div id="system_response" style="padding: 25px 25px 25px 25px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>




<!-- <html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
    <style>
        .center-heading {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h1 class="center-heading">NLP - Emotion Detection</h1> 
            <div style="padding: 25px 25px 25px 25px;">
            <h2 class="mb-3">
                <label class="form-label">Please enter the text to be analyzed</label>
                <input type="textarea" class="form-control" id="textToAnalyze">
            </h2>

            <div style="padding: 25px 25px 25px 25px;">
                <button onclick="RunSentimentAnalysis()" class="btn btn-secondary">Run Sentiment Analysis</button>
            </div>
            <div style="padding: 25px 25px 25px 25px;"></div>
            <h2 class="mb-3">
                <label class="form-label">Result of Emotion Detection</label>
            </h2>

            <div id="system_response" style="padding: 25px 25px 25px 25px;"></div>
        </div>
    </div>
</body> -->
